
.TitleAbout {
    padding: 0px 5px;
}

.containerA1 {
    max-width: auto;           
    margin-left: 50px; 
    margin-right: 50px;          
    padding: 0px 5px;             
}
.containerA1 p{
    margin-left: 10px;
}

.containerA1 p {
    margin-bottom: 16px;        
    line-height: 1.6;           
    text-align: justify;          
}